[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
selenium = "*"
beautifulsoup4 = "*"
pandas = "*"
webdriver-manager = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
python-dotenv = "*"
mlflow = "*"
plotly = "*"
ipykernel = "*"
pycaret = "*"

[dev-packages]

[requires]
python_version = "3.12"
